.game-container {
  width: 700px;
  margin: 0 auto;

  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
  }

  &__title {
    font-size: 36px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    border: 1px solid #000;
  }
}
