.game-container {
  width: 700px;
  margin: 0 auto;

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
  }

  &__title {
    font-size: 36px;
  }

  &__start-game-container {
    display: flex;
    align-items: center;
  }

  &__board-size-select {
    width: 100px;
    margin-right: 24px;
  }

  &__start-game {
    padding: 5px 14px;
    color: #fff;
    background-color: rgb(90, 3, 155);
    user-select: none;
    cursor: pointer;

    &--disabled {
      background-color: rgb(68, 68, 68);
      cursor: auto;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    border: 1px solid #000;
  }
}
